.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

#loginForm button {
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
